* { box-sizing: border-box; }

//Body

body {
  background: #f3f6f9;
}

//Main

.main {
  position: relative;
  margin: 70px 0 0 250px;
  padding: 30px;
  width: calc(100% - 250px);
}

.image {
  width: 100%;
  height: auto;
}
.el-card {
  margin: 0 0 30px 0;
}