* { box-sizing: border-box; }

//Body

body {
  background: #f3f6f9;
}

//Global 

.app {
  position: relative;
}

.main {
  position: relative;
  margin: 70px 0 0 265px;
  padding: 30px;
  width: calc(100% - 265px);
}

.no-results {
  text-align: center;
  color: #acacac;
  margin: 50px 0;
}

//Preloader

.el-loading-mask {
  background: white;
}
//Recipes

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

//Media

@media screen and (max-width: $md) {
  .main {
    width: 100%;
    margin: 70px 0 0 0;
    padding: 15px;
  }
}